@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-black: #2b2b2b;
  --main-white: #f6f6f6;
}
body {
  background: var(--main-black);
  font-family: "Roboto", sans-serif;
  color: var(--main-white);
  font-weight: 300;
}
img {
  width: 300px;
}
// ACCESS

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  label {
    margin: 0 auto 20px auto;
    display: block;
    text-align: center;
    input,
    input:hover,
    input:focus,
    input:active {
      display: block;
      font-size: 20px;
      padding: 8px;
      margin: 4px 0px;
      border: 2px solid var(--main-white);
      border-radius: 16px;
      background: var(--main-black);
      text-align: center;
      color: var(--main-white);
      outline: none;
      caret-color: var(--main-white);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--main-black) inset !important;
      -webkit-text-fill-color: var(--main-white) !important;
      font-size: 20px !important;
      border: 2px solid var(--main-white);
    }
  }
  button {
    display: block;
    font-size: 20px;
    padding: 6px;
    width: 192px;
    border: 2px solid var(--main-white);
    border-radius: 16px;
    background: var(--main-white);
    text-align: center;
    color: black;
    transition: linear 0.25s;
    cursor: pointer;
    margin: auto;
  }
  button:hover {
    border: 2px solid var(--main-white);
    background: var(--main-black);
    color: var(--main-white);
  }
}
.login-div,
.register-div {
  display: grid;
  place-content: center;
}

.link {
  font-size: 14px;
  margin-top: 5px;
  width: 300px;
  text-align: center;
  a {
    color: var(--main-white);
  }
  a:hover {
    color: #ddd;
  }
}
.logo {
  margin: 75px 0;
}
//HOME
.home {
  display: grid;
  place-content: center;
  button {
    display: block;
    font-size: 20px;
    padding: 6px;
    width: 192px;
    border: 2px solid var(--main-white);
    border-radius: 16px;
    background: var(--main-white);
    text-align: center;
    color: black;
    transition: linear 0.25s;
    cursor: pointer;
    margin: auto;
  }
  button:hover {
    border: 2px solid var(--main-white);
    background: var(--main-black);
    color: var(--main-white);
  }
  div {
    text-align: center;
    font-size: 32px;
  }
  .item {
    padding: 16px 64px;
  }
  .item:hover {
    background-color: #353535;
    cursor: pointer;
  }
  button {
    margin-top: 25px;
    font-size: 24px;
  }
}
//NAVBAR
.navbar {
  border-bottom: 1px solid #f6f6f6;
  background-color: #242424;
  padding: 8px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logout,
  .logo,
  .links div {
    cursor: pointer;
    margin: 0 16px;
  }
  .logout:hover {
    color: #ddd;
  }
  img {
    width: 20px;
  }
  .links {
    display: flex;
    div {
      margin: 0 16px;
    }
    div:hover {
      color: #ddd;
    }
  }
}
//COMMON
.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 2fr));
  gap: 50px;
  margin: 50px 100px;
  .icon {
    margin-left: 12px;
    cursor: pointer;
    transition: 0.5s;
  }
  .icon:hover {
    transform: scale(1.25);
  }
  .box {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 24px;
    border: 1.5px solid white;
    .header {
      align-items: center;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      .btns {
        display: flex;
        align-items: center;
      }
    }
    .item-container {
      font-size: 18px;
      padding: 2px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        margin-left: 16px;
        margin-right: 2px;
      }
    }
    p {
      margin: 4px 0;
    }
    .items {
      margin: 12px 0;
    }
  }
  button {
    border: none;
    display: block;
    font-size: 16px;
    padding: 4px;
    width: 156px;
    background: var(--main-white);
    text-align: center;
    color: black;
    transition: linear 0.25s;
    cursor: pointer;
    margin: auto;
    border: 2px solid var(--main-white);
  }
  button:hover {
    background: var(--main-black);
    color: var(--main-white);
  }
}
// TRAINING PLAN
.add-plan {
  margin: 24px auto;
  max-width: 425px;
  padding: 12px;
  text-align: center;
  font-size: 24px;
  border: 2px solid var(--main-white);
  background-color: var(--main-white);
  color: black;
  transition: 0.5s;
  font-weight: 400;
}
.add-plan:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  cursor: pointer;
}
// PLAN / CURRENT PLAN
.plan {
  .title {
    display: flex;
    margin-top: 24px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    border: 2px solid var(--main-white);
    background-color: var(--main-white);
    color: black;
    font-weight: 400;

    .icon {
      margin-left: 20px;
      transition: 0.5s;
    }
    .icon:hover {
      transform: scale(1.15);
      cursor: pointer;
    }
  }
  .main {
    display: flex;
    justify-content: center;
    font-size: 20px;
    .main-info {
      margin: 12px;
      text-align: center;
      .icon {
        color: black;
      }
    }
  }
  .sessions {
    margin: 25px 100px;
    .box {
      .header {
        font-size: 16px;
        .btns {
          .icon {
            font-size: 20px;
            margin-left: 16px;
          }
        }
      }
      .exercise-container {
        div {
          display: inline-block;
        }
        div div {
          width: 140px;
        }
        .icon {
          cursor: pointer;
          transition: 0.5s;
        }
        .icon:hover {
          transform: scale(1.25);
        }
      }
    }
  }
  button {
    border: none;
    display: block;
    font-size: 20px;
    padding: 8px;
    width: 256px;
    background: var(--main-white);
    text-align: center;
    color: black;
    transition: linear 0.25s;
    cursor: pointer;
    margin: auto;
    border: 2px solid var(--main-white);
  }
  button:hover {
    background: var(--main-black);
    color: var(--main-white);
  }
}
//WORKOUT
.workout {
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  .date {
    text-align: center;
    font-size: 20px;
  }
  .exer {
    font-size: 20px;
    margin: 8px 0 4px 0;
  }
  .box {
    .items {
      padding: 0;
      margin: 4px 0px 0px 4px;

      font-size: 16px;
    }
  }
  button {
    margin-top: 8px;
  }
}
//NEW WORKOUT
.new-workout {
  min-height: calc(100vh - 50px);
  .icon {
    transition: 0.25s;
  }
  .icon:hover {
    transform: scale(1.25);
  }
  background-color: #191919;
  width: 748px;
  margin: auto;
  padding: 0 64px;
  border-left: 1px solid var(--main-white);
  border-right: 1px solid var(--main-white);
  .exercise {
    .icon {
      margin-left: 24px;
      font-size: 24px;
      cursor: pointer;
    }
    margin-bottom: 16px;
  }
  label {
    display: flex;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 24px;
  }
  .add-workout,
  .add-workout:active,
  .add-workout:focus {
    margin-left: 16px;
    background: #191919;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--main-white);
    min-width: 200px;
    appearance: none;
    font-size: 20px;
    padding: 0;
  }
  .add-workout:hover {
    margin-left: 16px;
    background: #191919;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--main-white);
    min-width: 200px;
    appearance: none;
    font-size: 20px;
    padding: 0;
  }
  .add-workout:-webkit-autofill,
  .add-workout:-webkit-autofill:hover,
  .add-workout:-webkit-autofill:focus,
  .add-workout:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #191919 !important;
    font-size: 20px !important;
    border-bottom: 2px solid var(--main-white);
  }
  .single-set {
    label {
      margin: 0 28px;
    }

    input {
      background: #191919;
      border-radius: 2.5px;
      border: 1px solid;
      appearance: none;
      font-size: 16px;
      padding: 4px;
      margin: 0;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
      -webkit-text-fill-color: #191919 !important;
      font-size: 16px !important;
      border: 1px solid var(--main-white);
    }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"]::-webkit-inner-spin-button:hover {
      -webkit-appearance: none;
    }
    text-align: center;
    th {
      font-size: 16px;
    }
    table {
      margin: 0 auto;
    }
    .icon {
      margin-top: 5px;
      margin-left: 14px;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .icon-1 {
    font-size: 24px;
    float: right;
    margin-right: 22px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  .icon-1:hover {
    transform: scale(1.25);
  }
  button[type="submit"] {
    margin-top: 8px;
  }
}

.new-main-container {
  .title-name {
    margin-bottom: 8px;
  }
  min-height: calc(100vh - 50px);
  .icon {
    transition: 0.25s;
  }
  .icon:hover {
    transform: scale(1.25);
  }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"]::-webkit-inner-spin-button:hover {
    -webkit-appearance: none;
  }
  background-color: #191919;
  width: 600px;
  margin: auto;
  padding: 0 64px;
  border-left: 1px solid var(--main-white);
  border-right: 1px solid var(--main-white);
  .new-container {
    margin-top: 24px;
    padding-top: 16px;
    border-top: 1px solid var(--main-white);
    .icon {
      margin-left: 24px;
      font-size: 24px;
      cursor: pointer;
    }
    margin-bottom: 16px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-item {
        margin: 20px 0 10px 0;
        font-size: 20px;

        input {
          margin: 0;
          margin-left: 8px;
        }
      }
    }
    select {
      color: var(--main-white);
      background: #191919;
      border-radius: 2.5px;
      border: 2px solid var(--main-white);
      font-size: 16px;
      padding: 2px 12px 2px 2px;
      margin: 0;
      margin-left: 8px;
    }
  }
  label {
    display: flex;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 24px;
  }
  .add-main,
  .add-main:active,
  .add-main:focus,
  .add-main:hover {
    margin-left: 16px;
    background: #191919;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--main-white);
    min-width: 200px;
    appearance: none;
    font-size: 20px;
    padding: 0;
  }
  .add-main:-webkit-autofill,
  .add-main:-webkit-autofill:hover,
  .add-main:-webkit-autofill:focus,
  .add-main:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #191919 !important;
    font-size: 20px !important;
    border-bottom: 2px solid var(--main-white);
  }
  .small {
    font-size: 16px;
    margin: 6px auto;
  }
  .add-main-small,
  .add-main-small:active,
  .add-main-small:focus,
  .add-main-small:hover {
    background: #191919;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    margin-left: 8px;
    width: 50px;
  }
  .add-main-small:-webkit-autofill,
  .add-main-small:-webkit-autofill:hover,
  .add-main-small:-webkit-autofill:focus,
  .add-main-small:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #191919 !important;
    font-size: 16px !important;
    border-bottom: 1px solid var(--main-white);
  }
  table {
    .exer-input,
    .exer-input:active,
    .exer-input:hover,
    .exer-input:focus {
      background: #191919;
      border-radius: 2.5px;
      border: 1px solid;
      font-size: 16px;
      padding: 4px;
      margin: 8px 8px 0 8px;
    }
    .exer-input:-webkit-autofill,
    .exer-input:-webkit-autofill:hover,
    .exer-input:-webkit-autofill:focus,
    .exer-input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
      -webkit-text-fill-color: #191919 !important;
      font-size: 16px !important;
      border: 1px solid var(--main-white);
    }
    label {
      margin: 0;
    }
    .exer-input[type="number"] {
      width: 64px;
    }
    th {
      font-size: 16px;
    }
    .icon {
      margin-top: 10px;
      margin-left: 14px;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .icon-1 {
    font-size: 24px;
    float: right;
    margin-right: 32px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  .icon-1:hover {
    transform: scale(1.25);
  }
  button[type="submit"] {
    margin-top: 8px;
  }
}

.new-progress {
  .title-name {
    margin-bottom: 8px;
  }
  min-height: calc(100vh - 50px);
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"]::-webkit-inner-spin-button:hover {
    -webkit-appearance: none;
  }
  background-color: #191919;
  width: 450px;
  margin: auto;
  padding: 0 64px;
  border-left: 1px solid var(--main-white);
  border-right: 1px solid var(--main-white);

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 24px;
  }
  .progress-input,
  .progress-input:active,
  .progress-input:focus,
  .progress-input:hover {
    margin-left: 16px;
    background: #191919;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--main-white);
    width: 225px;
    appearance: none;
    font-size: 20px;
    padding: 0;
  }
  .progress-input:-webkit-autofill,
  .progress-input:-webkit-autofill:hover,
  .progress-input:-webkit-autofill:focus,
  .progress-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #191919 !important;
    font-size: 20px !important;
    border-bottom: 2px solid var(--main-white);
  }

  .progress-input-num,
  .progress-input-num:active,
  .progress-input-num:hover,
  .progress-input-num:focus {
    background: #191919;
    border-radius: 2.5px;
    border: 1px solid;
    font-size: 16px;
    min-width: 225px;
    padding: 4px;
    margin: 8px 8px 0 8px;
  }
  .progress-input-num:-webkit-autofill,
  .progress-input-num:-webkit-autofill:hover,
  .eprogress-input-num:-webkit-autofill:focus,
  .progress-input-num:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #191919 !important;
    font-size: 16px !important;
    border: 1px solid var(--main-white);
  }
  label {
    margin: 0;
    margin-top: 8px;
  }
  .progress-input-num[type="number"] {
    width: 64px;
  }

  button[type="submit"] {
    margin-top: 16px;
  }
}
